*, *:before, *:after {
	box-sizing: border-box;
}

.cf:after {
	content: '';
	display: block;
	clear: both;
}

@font-face {
	font-family: Domine;
	src: url(assets/fonts/domine/Domine-Regular.ttf);
}

@font-face {
	font-family: DomineBold;
	src: url(assets/fonts/domine/Domine-Bold.ttf);
}

@font-face {
	font-family: Montserrat;
	src: url(assets/fonts/montserrat/Montserrat-Regular.ttf);
}

@font-face {
	font-family: MontserratLight;
	src: url(assets/fonts/montserrat/Montserrat-Light.ttf);
}

@font-face {
	font-family: MontserratThin;
	src: url(assets/fonts/montserrat/Montserrat-Thin.ttf);
}

.center {
	text-align: center;
}

.bg {
	background-image: url(assets/images/bg.png);
}

.mrgnd {
	margin: 0 3rem;
}

.pad {
	padding: 2rem 0 2rem 0;
}

.padtop {
	padding-top: 4rem;
}

.padbottom {
	padding-bottom: 4rem;
}

.nopad {
	padding-left: 0;
	padding-right: 0;
}

.bordbottom {
	border-bottom: 1px solid #ccc;
}

.bordtop {
	border-top: 1px solid #ccc;
}

.wrapper {
	padding: 4rem 0;
	margin: 0;
}

main {
	background-color: #fcfcfc;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	text-align: center;
	font-size: 1rem;
	line-height: 4.5em;
	font-family: MontserratLight;
	list-style-type: none;
}

a {
	color: #777;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: Montserrat;
	padding: .5rem 0;
	margin: 0rem;
}

h2 {
	font-size: 1.6rem;
}

h3 {
	font-size: 1.2rem;
	letter-spacing: .1rem;
}

div	{
	padding: 2em 4em;
}

p {
	font-family: Domine;
	color: #404040;
	line-height: 1.75rem;
	margin: 0;
	padding: 1rem 0;
}

button {
	background-color: #00afc4;
	border: none;
}

button > h4 {
	color: #fff;
	font-family: MontserratThin;
	padding: 1rem;
	margin: 0;
}

/*HEADER START*/

#navbar {
	background-color: #000;
	padding: 0;
}
#navbar a {
	color: white;
	list-style-type: none;
	text-decoration: none;
}

#nav-logo {
	width: 2.5em;
	padding: 0;
	vertical-align: middle;
	margin: 0 auto;
} 

.banner {
	background: linear-gradient(#01afc4, #5fdfef);
	padding: 4.5rem 2.5rem;
}

.banner h3 {
	color: #fff;
}

@media (min-width: 550px) {
	nav {
		display: inline-block;
		margin: 0 auto;
		width: 100%;
	}

	ul {
		display: inline-block;
		width: 100%;
		text-align: center; 
	}

	li,
	nav a {
		display: inline-block;
		vertical-align: top;
		margin: 0 .5rem;
	}

	#nav-logo {
		width: 2.5em;
		display: inline-block;
		margin: 0 .5em;
	}

	.banner h1 {
		font-size: 2.5em;
	}

	h2 {
		font-size: 1.75em
	}

	h3 {
		font-size: 1.3em;	
	}

	p {
		font-size: 1.15em;	
	}

}

/*HEADER END*/

/*INDEX MAIN START*/

#logo-large {
	display: none;
}

@media (min-width: 550px) and (max-width: 799px) {
	#logo-large {
		display: inline-block;
		width: 45%;
		float: right;
	}

	.box {
		width: 50%;
		float: left;
	}

	.box:nth-of-type(2n + 1) {
		clear: left;
	}

	#prefoot {
		clear: both;
	}

	main h2:before,
	main h2:after {
		content: "\22c5";
	}
}

@media (min-width: 800px) {
	#logo-large {
		display: none;
	}

	.box {
		width: 33.33%;
		float: left;
	}

	.box:nth-of-type(3n + 1) {
		clear: left;
	}

	main h2:before,
	main h2:after {
		content: "\22c5";
	}
}


/*INDEX MAIN END*/

/*ABOUT MAIN START*/

.org {
	width: 4.25rem;
	padding: 1rem 0;
}

@media (min-width: 550px) and (max-width: 799px) {
	.org {
		width: 7rem;
	}
}

@media (min-width: 800px) {
	.org {
		width: 13rem;
	}
}

/*ABOUT MAIN END*/

/*CONS MAIN START*/

.spec {
	width: 9em;
	display: block;
	margin: 0 auto;
	padding: 1rem;
}

@media (min-width: 550px) {
	.spec {
		width: 13rem;
		padding: 1rem 0 1rem 1rem;
		float: right;
	}

	.alt {
		float: left;
		padding: 1rem 1rem 1rem 0;
	}
}

@media (min-width: 800px) {
	.spec {
		width: 15em;
	}
}

/*CONS MAIN END*/

/*TRAIN MAIN START*/

.tag {
	padding: .15rem;
	margin: .25rem .2rem;
	display: inline-block;
	float: left;
}

#teal {
	background-color: #57d8ab; 
}

#black {
	background-color: #000;
}

#red {
	background-color: #d75a4a;
}

.tag > p {
	font-family: monospace;
	font-size: .5rem;
	color: #fff;
	width: 5em;
	padding: 0;
}

.tag ~ p {
	clear: both;
}

form h4 {
	padding: .5rem .25rem;
}

#signup {
	color: #aaa;
	border: none;
	width: 15em;
	margin-top: 1rem;
	padding: .75rem .25rem;
}

@media (min-width: 800px) {
	.tag {
		position: absolute;
		left: -5rem;
		top: 2.5rem;
		display: block;
		clear: left;
	}

	#black {
		top: 5rem;
	}

	.posrel {
		position: relative;
		margin-left: 7rem;
		margin-right: 7rem;
	}
}

/*TRAIN MAIN END*/

/*CONTACT MAIN START*/

.map {
	width: 13rem;
}

#info > div {
	padding: .5rem 0;
}

#info > div > p {
	padding: .15rem 0;
}

form > div {
	padding: 1rem 0;
}

#contact input {
	width: 100%;
	height: 2.5rem;
	border: none;
}

#contact textarea {
	width: 100%;
	border:none;
	height: 15rem;
}

@media (min-width: 550px) {
	#info p {
		font-size: initial;
	}

	#contact {
		width: 66.66%;
		float: right;
	}

	#info {
		width: 33.33%;
		float: right;
		margin: 2rem 0;
		padding: 0 3rem;
		border-bottom: none;
		border-left: 1px solid #ccc;
	}

	.map {
		display: block;
		width: 100%;
	}
}

/*CONTACT MAIN END*/

/*FOOTER START*/

footer {
	background-image: url(assets/images/bg.png);
}

#foot-navbar {
	padding: 0;
}

#foot-navbar a {
	color: #000;
	text-decoration: none;
}

#foot-navbar ul {
	padding: .25rem 0;
}











